<% provide(:title, 'Update Profile') %>

<div class="container">
  <% if current_user.admin == false %>
    <%= render 'staff_field' %>
  <% else %>
    <%= render 'admin_field' %>
  <% end %>
</div>
