<% provide(:title, "Contact") %>

<div class="center col-md-12 main_header">
  <div class="container">
    <br>
    <h1>Contact</h1>
    <br>
  	<p>Having some unsolved issues? Contact me. </p>
  	<hr>

    <div class="col-md-2">
      <br>
    </div>

    <div class="col-md-8">
    	<div class="panel panel-default">
    	  <div class="panel-heading">
    	    <h3 class="panel-title">Mac Shu</h3>
    	  </div>

    	  <div class="panel-body">
          <br>
    	    <h3 class="panel-title contact-text-color">Email: TP028815@mail.apu.edu.my</h3>
          <br>
    	  </div>
    	</div>

      <br><%= link_to "Back", root_path, class: "btn btn-primary" %><br><br>
    </div>

    <div class="col-md-2">
      <br>
    </div>
  </div>
</div>
