<% provide(:title, 'Contact') %>

<div class="container-fluid">
  <div class="center well col-md-12">
    <h1>Support</h1>
    <div class="col-md-8 col-md-offset-2">
    	<div class="panel panel-default">
    	  <div class="panel-body">
          <p>Having some unsolved issues? Contact the developer @ </p>
          <br>
    	    <h3 class="panel-title contact-text-color">TP028815@mail.apu.edu.my</h3>
          <br>
    	  </div>
    	</div>

      <br><%= link_to "Back", root_path, class: "btn btn-default" %><br><br>
    </div>

  </div>
</div>
