<% provide(:title, 'Dashboard') %>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-text">Dashboard</div>
  <div class="panel-body center panel-body-prop">
    <div class="row">
      Display Unpaid Fees for Student
    </div>
    <br><hr><br>
    <div class="row">

      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="#">
          <div class="card">
            <div class="header">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </div>
            <div class="content">
              View Profile
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="#">
          <div class="card">
            <div class="header">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>
            <div class="content">
              View Students
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="#">
          <div class="card">
            <div class="header">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>
            <div class="content">
              View Staffs
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="#">
          <div class="card">
            <div class="header">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </div>
            <div class="content">
              View Payments
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="#">
          <div class="card">
            <div class="header">
              <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            </div>
            <div class="content">
              Make Payments
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="#">
          <div class="card">
            <div class="header">
              <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
            </div>
            <div class="content">
              Statistic
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
