<% provide(:title, 'Dashboard') %>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-text">Dashboard</div>
  <div class="panel-body center panel-body-prop">
    <div class="row">
      Display Unpaid Fees for Student
    </div>
    <br><hr><br>
    <div class="row">

      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="<%= @current_user.type == "Student" ? student_path(@current_user) : staff_path(@current_user) %>">
          <div class="card">
            <div class="header">
              <span class="fa fa-cog fa-3x" aria-hidden="true"></span>
            </div>
            <div class="content">
              View Profile
            </div>
          </div>
        </a>
      </div>

      <% if @current_user.type == "Staff" %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="/students">
            <div class="card">
              <div class="header">
                <span class="fa fa-user fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">
                View Students
              </div>
            </div>
          </a>
        </div>
      <% end %>

      <% if @current_user.type == "Staff" && @current_user.admin? %> <!-- Authenticate User Access Level -->
        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="#">
            <div class="card">
              <div class="header">
                <span class="fa fa-plus fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">
                Add Staff
              </div>
            </div>
          </a>
        </div>
      <% end %>

      <% if @current_user.type == "Staff" && @current_user.admin? %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="<%= staffs_path %>">
            <div class="card">
              <div class="header">
                <span class="fa fa-user fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">
                View Staffs
              </div>
            </div>
          </a>
        </div>
      <% end %>

      <% if @current_user.type == "Staff" %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="<%= programme_registration_path %>">
            <div class="card">
              <div class="header">
                <span class="fa fa-plus fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">
                Add Programme
              </div>
            </div>
          </a>
        </div>
      <% end %>

      <% if @current_user.type == "Staff" %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="<%= programmes_path %>">
            <div class="card">
              <div class="header">
                <span class="fa fa-eye fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">
                View Programmes
              </div>
            </div>
          </a>
        </div>
      <% end %>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="#">
          <div class="card">
            <div class="header">
              <span class="fa fa-eye fa-3x" aria-hidden="true"></span>
            </div>
            <div class="content">
              View Payments
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="#">
          <div class="card">
            <div class="header">
              <span class="fa fa-credit-card fa-3x" aria-hidden="true"></span>
            </div>
            <div class="content">
              Make Payments
            </div>
          </div>
        </a>
      </div>

      <% if @current_user.type == "Staff" %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="#">
            <div class="card">
              <div class="header">
                <span class="fa fa-bar-chart fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">
                Statistic
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
