<% provide(:title, 'Help') %>

<div class="container-fluid">
  <div class="center well col-md-12">
    <h1>Help</h1>

    <div class="col-md-8 col-md-offset-2">
      <p>Facing some issue? Look for the solution here. </p>
      <hr>
    	<div class="panel panel-default">
    	  <div class="panel-heading">
    	    <h3 class="panel-title">I can't login into the application, what can I do?</h3>
    	  </div>

    	  <div class="panel-body">
    	    <h4 class="panel-title contact-text-color">You can email to the student services to enquire them about your account status.</h4>
    	  </div>
    	</div>

    	<div class="panel panel-default">
    	  <div class="panel-heading">
    	    <h3 class="panel-title">The payment is not working, what can I do?</h3>
    	  </div>

    	  <div class="panel-body">
    	    <h4 class="panel-title contact-text-color">Try to reload the web application, sometimes payment gateway is down for maintainance.</h4>
    	  </div>
    	</div>

      <br><%= link_to "Back", root_path, class: "btn btn-default" %><br><br>
    </div>
  </div>
</div>
