<div class="col-md-12 panel main_header center">

  <!-- Page Title -->
  <p>&nbsp;</p>
  <h1>OHMYFEES</h1>
  <p>Fees management at your finger tips</p>
  <br>
  <hr>
  <br>
  <!-- Secure Section -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel my-inner section-sizing prop">
        <br><br><br>
        <span class="fa fa-lock fa-5x" aria-hidden="true"></span>
        <!-- <%= image_tag("secure.png", :size => "100x100", :alt => "Secure")%> -->
        <br><br>
        <p>Secured</p>
      </div>
    </div>

    <!-- Time Section -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel my-inner section-sizing prop">
        <br><br><br>
        <span class="fa fa-clock-o fa-5x" aria-hidden="true"></span>
        <!-- <%= image_tag("time.png", :size => "100x100", :alt => "Quick and Easy")%> -->
        <br><br>
        <p>Fast and Easy</p>
      </div>
    </div>

    <!-- Location Section -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel my-inner section-sizing prop">
        <br><br><br>
        <span class="fa fa-globe fa-5x" aria-hidden="true"></span>
        <!-- <%= image_tag("location.png", :size => "100x100")%> -->
        <br><br>
        <p>Location friendly</p>
      </div>
    </div>

    <!-- Notification Section -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel my-inner section-sizing prop">
        <br><br><br>
        <span class="fa fa-bell-o fa-5x" aria-hidden="true"></span>
        <!-- <%= image_tag("notification.png", :size => "100x100")%> -->
        <br><br>
        <p>Get notified</p>
      </div>
    </div>
  </div>
</div>
