
<div class="center col-md-12 main_header">
  <div class="container">
    <br><h1>OhMyFees</h1><br>
    <p>Hassle-free Experience with Your School Fees.</p>
    <hr>

    <div class="row">
      <br>
        <!-- Secure Section -->
        <div class="center col-md-3">
          <div class="panel panel-body my-inner section-sizing prop">
            <br><br>
            <%= image_tag("secure.png", :size => "100x100")%>
            <br><br>
            <h4>Secured Payment Gateway.</h4>
          </div>
        </div>

        <!-- Time Section -->
        <div class="center col-md-3 ">
          <div class="my-inner panel panel-body section-sizing dashboard-panel prop">
            <br><br>
            <%= image_tag("time.png", :size => "100x100")%>
            <br><br>
            <h4>Quick and Easy.</h4>
          </div>
        </div>

        <!-- Location Section -->
        <div class="center col-md-3 ">
          <div class="my-inner panel panel-body section-sizing dashboard-panel prop">
            <br><br>
            <%= image_tag("location.png", :size => "100x100")%>
            <br><br>
            <h4>Anytime, Anywhere.</h4>
          </div>
        </div>

        <!-- Notification Section -->
        <div class="center col-md-3 ">
          <div class="my-inner panel panel-body section-sizing dashboard-panel prop">
            <br><br>
            <%= image_tag("notification.png", :size => "100x100")%>
            <br><br>
            <h4>Get Notified.</h4>
          </div>
        </div>
    </div>
    <br>
  </div>
</div>
