<% provide(:title, 'Payment') %>

<div class="container">
<h1>Payment for Fees ID#</h1>
  <div class="row">
    <div class="col-md-12 well">


    <div class="center">
      <%= link_to "Back", dashboard_path , class: "btn btn-default" %>
    </div>
  </div>
  </div>
</div>
