@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  font: 14px/1.4em 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4f4b47;
  /* padding-top: 70px; Use for navbar-fixed-top */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 20px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-bottom: 20px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* Logo */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  border-radius: 0px;
  background-color: black !important;
  text-decoration: none;
  display: -webkit-flex !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Header */

#header {
  box-shadow: 0px 2px 1px 0px rgba(102, 93, 93, 0.15);
}

#header, #footer {
  background-color: #F2F2F2;
  overflow: auto;
  position: relative;
  z-index: 1;
}

.main_header {
  background-image: image-url('landing-bg.png');
  background-position: center center;
  color: white;
  display:block;
  overflow:auto;
}

/* Nav Bar */

nav ul a{
  color: black;
  display: -webkit-flex !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
} /* For Mobile Site Nav Bar */

nav ul li:hover a{
  border-radius: 0px !important;
  background-color: black !important;
  color: white !important;
}

nav a {
  display: block;
  box-sizing: border-box;
  padding: 16px 8px;
  border-radius: 4px;
  text-decoration: none;
}

/* Footer */

#footer > * {
  height: auto;
  box-sizing: border-box;
}

.footer-text {
  float: left;
  margin-right: 10px;
  padding-top: 2%;
}

/* Landing Pages CSS */

.my-inner {
    padding: 5px;
  }

.section-sizing{
  height: 250px;
}

.text-justified{
  font-size: 10;
  text-align: justify;
}

.prop {
  background-color: transparentize(black, 0.4) !important;
  color: white;
  line-height: 1.5;
}

.contact-text-color{
  color: black !important;
}

/* Student Account Info */
.noborder, .noborder tr, .noborder th, .noborder td {
  border: none;
}
