<% provide(:title, 'Report') %>

<div class="container">
  <h1>Report</h1>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#monthly" aria-controls="monthly" role="tab" data-toggle="tab">Monthly Report</a></li>
    <li role="presentation"><a href="#yearly" aria-controls="yearly" role="tab" data-toggle="tab">Yearly Report</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="monthly">
      <div class="container-fluid">
        <br>
        <%= render 'reports/monthly' %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="yearly">
      <div class="container-fluid">
        <br>
        <%= render 'reports/yearly' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">

      <%= link_to "Back", dashboard_path, class: "btn btn-default form-control" %>
    </div>
  </div>
</div>
