<footer>
  <div class="padding-left-2 padding-right-2" id="footer">
    <nav class="float-left flex-center-left horizontal">© OhMyFees & Asia Pacific University 2015. All right reserved.</nav>
    <nav class="float-right flex-center-right horizontal">
      <%= link_to "Help",   help_path %>
      <%= link_to "Contact", contact_path %>
      <a href="http://webspace.apiit.edu.my/" target="_blank">Webspace</a>
    </nav>
  </div>
</footer>
