<footer class="footer">
  <small>
    OhMyFees & Asia Pacific University 2015. All right reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://webspace.apiit.edu.my/">Webspace</a></li>
    </ul>
  </nav>
</footer>
