<header class="navbar navbar-fixed-top">
  <nav>
    <div class="container">
      <div class="navbar-header">
        <%= link_to "OhMyFees", root_path, id: "logo" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Help",   help_path %></li>
          <li><%= link_to "Log in", '#' %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
